$color_1: white;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #f2f2f2;
$background-color_2: #ddd;
$background-color_3: #04AA6D;

#customers {
	font-family: $font-family_1;
	border-collapse: collapse;
	width: 100%;
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		border: 1px solid #ddd;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: $background-color_3;
		color: $color_1;
	}
	tr {
		&:nth-child(even) {
			background-color: $background-color_1;
		}
		&:hover {
			background-color: $background-color_2;
		}
	}
}
#customers img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.card-content{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}